<!DOCTYPE html>
<html>
	<head>
		<title>welp</title>
		<style type="text/css">
			body { background:#000; }
		</style>
		<meta property="og:title" content="welp" />
		<meta property='og:image' content="{{ .image }}" />
		<meta property="fc:frame" content="vNext" />
		<meta property="fc:frame:image" content="{{ .image }}" />
		{{ .button1 }}
		{{ .button2 }}
		{{ .button3 }}
		{{ .button4 }}
		{{ .postURL }}
	</head>
</html>
